{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{ path('report_admin_homepage') }}">Панель управления</a></li>
                    <li><a href="{{ path('report_report_homepage') }}">Отчеты</a></li>
                    <li class="active"><a href="#">Логи</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="logout">Выйти</a></li>
                </ul>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Маршруты</th>
                <th>Операторы</th>
                <th>Сопряженные маршруты</th>
                <th>Базы данных</th>
                <th>Файлы-ответы</th>
                <th>Задачи</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'select_router'}) }}" class="btn btn-info btn-small">Выборка</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'insert_router'}) }}" class="btn btn-success btn-small">Добавление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'update_router'}) }}" class="btn btn-primary btn-small">Обновление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'delete_router'}) }}" class="btn btn-danger btn-small">Удаление</a>
                </td>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'select_operator'}) }}" class="btn btn-info btn-small">Выборка</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'insert_operator'}) }}" class="btn btn-success btn-small">Добавление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'update_operator'}) }}" class="btn btn-primary btn-small">Обновление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'delete_operator'}) }}" class="btn btn-danger btn-small">Удаление</a>
                </td>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'select_method_of_operator'}) }}" class="btn btn-info btn-small">Выборка</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'insert_method_of_operator'}) }}" class="btn btn-success btn-small">Добавление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'update_method_of_operator'}) }}" class="btn btn-primary btn-small">Обновление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'delete_method_of_operator'}) }}" class="btn btn-danger btn-small">Удаление</a>
                </td>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'update_BaseOfLogs'}) }}" class="btn btn-primary btn-small">Обновление</a>
                </td>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'put_demo_content'}) }}" class="btn btn-success btn-small">Создание</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'delete_demo_file'}) }}" class="btn btn-danger btn-small">Удаление</a>
                </td>
                <td>
                    <a href="{{ path('report_router_new', {'action': 'add_cron_job'}) }}" class="btn btn-success btn-small">Добавление</a>
                    <br><br>
                    <a href="{{ path('report_router_new', {'action': 'remove_cron_job'}) }}" class="btn btn-danger btn-small">Удаление</a>
                </td>
            </tr>
        </table>
        <hr>
        <h1>Результаты выборок</h1>
        <div class="row">
        <div class="span12">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for response in responses %}
                <tr>
                    <td>{{ response.id }}</td>
                    <td>{{ response.title }}</td>
                    <td><a href="{{ path ('report_router_show', {'id': response.id}) }}" class="btn btn-info">Просмотр</a></td>
                    <td><a href="{{ path ('report_report_edit', {'id': response.id}) }}" class="btn btn-primary">Редактировать</a></td>
                    <td><a href="{{ path ('report_router_destroy', {'id': response.id}) }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
        </div>
        </div>
    </div>
{% endblock %}