{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Создание запроса</h1>
        <form action="{{ path('report_router_requestHandler', {'action': action}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <br>
            <a href="{{ path('report_router_homepage') }}" class="btn btn-primary">
                Назад к списку
            </a>
        </form>
    </div>
{% endblock %}
