{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="{{ path('report_admin_homepage') }}">Панель управления</a></li>
                <li><a href="{{ path('report_report_homepage') }}">Отчеты</a></li>
                <li class="active"><a href="#">Логи</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="logout">Выйти</a></li>
            </ul>
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for field in fields %}
            <tr>
                {% for article in field %}
                    <td>{{ article }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('report_router_homepage') }}" class="btn btn-primary">Назад к списку</a>
</div>
{% endblock %}