{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="#">Панель управления</a></li>
                    <li><a href="{{ path('report_report_homepage') }}">Отчеты</a></li>
                    <li><a href="{{ path('report_router_homepage') }}">Логи</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="logout">Выйти</a></li>
                </ul>
            </div>
        </div>
        <h3>Список пользователей</h3>
        <p>
            <a href="{{ path('report_admin_createUser') }}" class="btn btn-primary">Добавить пользователя</a>
        </p>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Роли</th>
                <th></th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }};
                        {% endfor %}
                    </td>
                    <td><a href="{{ path ('report_admin_editUser', {'id': user.id}) }}" class="btn btn-primary">Редактировать</a></td>
                    <td><a href="{{ path ('report_admin_deleteUser', {'id': user.id}) }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}