{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Добавление пользователя</h1>
        <form action="{{ path('report_admin_createUser') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
            {{ form_widget(form) }}
        </form>
        <a href="{{ path('report_admin_homepage') }}" class="btn btn-primary">Назад к списку</a>
    </div>
{% endblock %}