
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.2.1 (Linux)">
    <meta name="author" content="Pekhtereva">
    <meta name="created" content="20140813;85917000000000">
    <meta name="changedby" content="Andrey Noscov">
    <meta name="changed" content="20140814;93304000000000">
    <meta name="AppVersion" content="14.0300">
    <meta name="Company" content="OFFICE">
    <meta name="DocSecurity" content="0">
    <meta name="HyperlinksChanged" content="false">
    <meta name="LinksUpToDate" content="false">
    <meta name="ScaleCrop" content="false">
    <meta name="ShareDoc" content="false">

    <style type="text/css"><!--
        body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:medium }
        -->
    </style>

</head>

<body text="#000000">
<table cellspacing="0" border="0">
    <colgroup span="3" width="65"></colgroup>
    <colgroup width="117"></colgroup>
    <colgroup width="94"></colgroup>
    <colgroup width="133"></colgroup>
    <colgroup width="179"></colgroup>
    <colgroup width="247"></colgroup>
    <tr>
        <td colspan=8 height="22" align="left" valign=top><font color="#000000">  </font></td>
    </tr>
    <tr>
        <td colspan=8 height="25" align="center" valign=bottom><font size=4 color="#000000">ОТЧЕТ  по активированным картам экспресс оплаты.</font></td>
    </tr>
    <tr>
        <td colspan=8 height="20" align="center" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td colspan=3 height="20" align="center" valign=bottom><font color="#000000">г. Москва</font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td colspan=2 align="center" valign=bottom><font color="#000000"> {{ "now"|date("d/m/Y") }} г.</font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td colspan=8 height="82" align="justify"><b><font color="#000000">{{ report.company_sender }}, именуемое в дальнейшем &quot;Агент&quot;, в лице {{ report.sender_r_position }} {{ report.sender_r_familyname }} {{ report.sender_name|first }}.{{ report.sender_surname|first }}., действующего на основании Устава, составил настоящий отчет о нижеследующем: За период с  «01» {{ report.months_names[report.months|first] }} {{ report.year }} г. по «31» {{ report.months_names[report.months|last] }} {{ report.year }} г. покупателями  было  активировано следующее количество карт  экспресс оплаты:               </font></b></td>
    </tr>
    <tr>
        <td colspan=8 height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="66" align="left" valign=bottom><b><font color="#000000">№п/п</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=bottom><b><font color="#000000">Наименование принципала </font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font color="#000000">Количество активированных карт</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font color="#000000">Цена за активацию карты экспресс оплаты </font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font color="#000000">Общая стоимость </font></b></td>
    </tr>
    {% for company in report.companies %}
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="center" valign=bottom><font color="#000000"><br></font>{{ loop.index }}</td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="left" valign=bottom><font color="#000000"><br></font>&nbsp;&nbsp;{{ company.name }}</td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font color="#000000"><br></font>{{ company.cards_activated }}</td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font color="#000000"><br></font>10</td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font color="#000000"><br></font>{{ company.cards_activated * 10}} руб.</td>
    </tr>
    {% endfor %}
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td colspan=8 height="96" align="justify" valign=middle><font color="#000000"><br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           </font></td>
    </tr>
    <tr>
        <td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
    </tr>
    <tr>
        <td colspan=4 rowspan=6 height="120" align="left" valign=top><font color="#000000">Отчет сдал :  ________________________/{{ report.sender_familyname }} {{ report.sender_name|first }}.{{ report.sender_surname|first }}./     М.П.                                                                    </font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td align="left" valign=bottom><font color="#000000"><br></font></td>
        <td colspan=2 rowspan=6 align="left" valign=top><font color="#000000"><br><br>                                                            </font></td>
    </tr>
</table>
<!-- ************************************************************************** -->
</body>

</html>
