<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="Отчет%20Агентаmoy.files/filelist.xml">
<link rel=themeData href="Отчет%20Агентаmoy.files/themedata.thmx">
<link rel=colorSchemeMapping
      href="Отчет%20Агентаmoy.files/colorschememapping.xml">

<style>
    <!--
    /* Font Definitions */
    @font-face
    {font-family:Calibri;
        panose-1:2 15 5 2 2 2 4 3 2 4;
        mso-font-charset:204;
        mso-generic-font-family:swiss;
        mso-font-pitch:variable;
        mso-font-signature:-536870145 1073786111 1 0 415 0;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
    {mso-style-unhide:no;
        mso-style-qformat:yes;
        mso-style-parent:"";
        margin-top:0cm;
        margin-right:0cm;
        margin-bottom:10.0pt;
        margin-left:0cm;
        line-height:115%;
        mso-pagination:widow-orphan;
        font-size:11.0pt;
        font-family:"Calibri","sans-serif";
        mso-fareast-font-family:"Times New Roman";
        mso-fareast-theme-font:minor-fareast;
        mso-bidi-font-family:"Times New Roman";}
    p.Normal1, li.Normal1, div.Normal1
    {mso-style-name:Normal1;
        mso-style-unhide:no;
        margin:0cm;
        margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        text-autospace:ideograph-numeric;
        font-size:10.0pt;
        font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";
        mso-fareast-theme-font:minor-fareast;}
    p.msopapdefault, li.msopapdefault, div.msopapdefault
    {mso-style-name:msopapdefault;
        mso-style-unhide:no;
        mso-margin-top-alt:auto;
        margin-right:0cm;
        margin-bottom:10.0pt;
        margin-left:0cm;
        line-height:115%;
        mso-pagination:widow-orphan;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";
        mso-fareast-theme-font:minor-fareast;}
    span.SpellE
    {mso-style-name:"";
        mso-spl-e:yes;}
    span.GramE
    {mso-style-name:"";
        mso-gram-e:yes;}
    .MsoChpDefault
    {mso-style-type:export-only;
        mso-default-props:yes;
        font-size:10.0pt;
        mso-ansi-font-size:10.0pt;
        mso-bidi-font-size:10.0pt;}
    @page WordSection1
    {size:595.3pt 841.9pt;
        margin:2.0cm 42.5pt 2.0cm 3.0cm;
        mso-header-margin:35.4pt;
        mso-footer-margin:35.4pt;
        mso-paper-source:0;}
    div.WordSection1
    {page:WordSection1;}
    -->
</style>
<!--[if gte mso 10]>
<style>
    /* Style Definitions */
    table.MsoNormalTable
    {mso-style-name:"Обычная таблица";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-priority:99;
        mso-style-parent:"";
        mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
        mso-para-margin:0cm;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman","serif";}
</style>

    <o:shapelayout v:ext="edit">
        <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout></xml><![endif]-->
</head>

<body lang=RU style='tab-interval:35.4pt'>

<div class=WordSection1>
    <br>
    <br>
    <p class=Normal1 align=center style='margin-bottom:6.0pt;text-align:center'><b><span
                    style='font-size:12.0pt'>Отчет Агента {{ report.number }} от {{ "now"|date("d/m/Y") }} г.</span></b></p>
    <p align=center style='margin-bottom:6.0pt;text-align:center'>Период с «1» {{ report.months_names[report.months|first] }} {{ report.year }} г. по «31» {{ report.months_names[report.months|last] }} {{ report.year }} г.</p>
    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>{{ report.company_sender }}, именуемое в дальнейшем «Агент», в лице {{ report.sender_r_position }}&nbsp;
            {{ report.sender_r_familyname }} {{ report.sender_r_name }} {{ report.sender_r_surname }}, <span style='color:black'>&nbsp;действующего на
основании Устава</span>, составило настоящий отчет о нижеследующем:</span></p>

    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>Согласно агентскому договору № {{ report.contract_number }} от {{ report.contract_date_sign|date("d/m/Y") }} г. между {{ report.company_sender }} и {{ report.company_accepter }}&nbsp; (далее –
Принципал) за период с «01» {{ report.months_names[report.months|first] }} {{ report.year }} г. по «31» {{ report.months_names[report.months|last] }} {{ report.year }} г. Агентом была
организована возможность приема платежей за услуги связи от Клиентов.</span></p>

    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>За указанный период:</span></p>

    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>Сумма платежей Клиентов Принципала за оказанные услуги
составила {{ report.total_summ[0] }} руб. {{ report.total_summ[1] }} коп. ({{ report.total_summ_write }})</span></p>

    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>Агентское вознаграждение ({{ report.contract_comission }}%) составляет <b>{{ report.contract_total_comission[0] }} руб. {{ report.contract_total_comission[1] }} коп.
                ({{ report.contract_total_comission_write }})</b></span></p>

    <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify'><span
                style='font-size:12.0pt'>Подлежат перечислению Принципалу денежные средства,
поступившие Агенту в счет оплаты за услуги связи от Клиентов {{ report.result_sum[0] }} руб. {{ report.result_sum[1] }} коп.  ({{ report.result_sum_write }})</span></p>

    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:115%;
font-family:"Times New Roman","serif"'>От имени Агента<span class=GramE>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='mso-tab-count:6'>                                                            </span><span
                            style='mso-spacerun:yes'>  </span>О</span>т имени Принципала</span></b> </p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>{{ report.company_sender }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style='mso-tab-count:5'>                                                          </span>
<span style='mso-spacerun:yes'>  </span>{{ report.company_accepter }}</p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>{{ report.sender_position }}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style='mso-tab-count:5'>                                                          </span><span
                    style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>{{ report.accepter_position }}:</span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>&nbsp;___________/{{ report.sender_familyname }}
{{ report.sender_name|first }}.{{ report.sender_surname|first }}./&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style='mso-spacerun:yes'>                                                          
</span><span style='mso-spacerun:yes'>   </span>____________/{{ report.accepter_familyname }} {{ report.accepter_name|first }}.{{ report.accepter_surname|first }}./</span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>«___» ______ 20__ г </span><span lang=EN-US
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif";
mso-ansi-language:EN-US'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;<span
                    style='mso-spacerun:yes'>                                                          
</span><span style='mso-spacerun:yes'>   </span></span><span style='font-size:
12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>«___» ______
20__ г </span></p>

    <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Times New Roman","serif";mso-ansi-language:EN-US'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>м.п.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif";mso-ansi-language:EN-US'><span
                    style='mso-spacerun:yes'>            </span><span
                    style='mso-spacerun:yes'>                                               </span><span
                    style='mso-spacerun:yes'>   </span></span><span class=SpellE><span
                    style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>м.п</span></span><span
                style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>.</span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>&nbsp;</span></p>

</div>

</body>

</html>
