{% use 'form_table_layout.html.twig' %}
{% form_theme form _self %}

{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Редактирование отчета</h1>
    <div class="row">
    <div class="span12">
    <form action="{{ path('report_report_edit', { 'id': report.id }) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
         <p>
            <button type="submit" class="btn btn-success">Подтвердить изменения</button>
            <a href="{{ path('report_report_homepage') }}" class="btn btn-primary">Назад к списку</a>
        </p>
    </form>

        {# Здесь дикий хардкод. Из функции filter в экшен edit передаются параметры фильтрации вида:
         ['column_name' => 'filter']
          , чтобы нужному полю оставлять свое значение, я в цикле вывода колонок
          , проверяю, есть ли данная колонка в ключах параметров фильтрации, если так
          , то я подставляю в поле соответствующее значение фильтра
        #}
        <form action="{{ path('report_report_columns', { 'id': report.id })
        }}" method="post" {{ form_enctype(columns_form) }} >
        <p><b>Колонки: </b></p>
        <hr>
        <div class="row">
            <div class="span3">
                <p>
                    <button type="submit" class="btn btn-mini btn-danger" value="hide_columns" name="hide_columns"
                            formnovalidate="formnovalidate">
                        Скрыть колонки
                    </button>
                    <button type="submit" class="btn btn-mini btn-primary" value="show_columns" name="show_columns"
                            formnovalidate="formnovalidate">
                        Показать все
                    </button>
                </p>
                <select name="hidden_columns[]" multiple="multiple">
                    {% for column, column_name in columns if columns %}
                        <option value="{{ column }}">{{ column_name }} ({{ column }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="span11">
                {% for column_name, type in visible_columns if visible_columns %}
                    <p>
                        {% block field_row %}
                        {{ form_label(attribute(columns_form, column_name)) }}
                        {{ form_widget(attribute(columns_form, column_name),{'value': columns_names[loop.index0]}) }}
                        {% endblock field_row %}
                        <input type="checkbox" name="calculated_columns[]" value="{{ column_name }}">Вычислять таблицу
                        <input type="checkbox" name="group_by_column" value="{{ column_name }}">Группировать по ней<br>
                        {% for function in functions[type.DATA_TYPE] %}
                            {{ function }}: <input type="checkbox" name="{{ function }}_columns[]" value="{{ column_name }}">
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-mini btn-primary" value="rename_columns" name='rename_columns'
                        formnovalidate="formnovalidate">
                    Переименовать
                </button>
                <button type="submit" class="btn btn-mini btn-primary" value="calculate_columns" name='calculate_columns'
                        formnovalidate="formnovalidate">
                    Вычислить
                </button>
            </div>
            <div class="span9" style="margin-top: 10px">
                <p>
                    Сортировать по колонке:
                    <select>
                        {% for column_name, type in visible_columns if visible_columns %}
                            <option value="{{ column_name }}">{{ column_name }}</option>
                        {% endfor %}
                    </select>
                    <select>
                        <option value="ASC">По возрастанию</option>
                        <option value="DESC">По убыванию</option>
                    </select>
                </p>
            </div>
        </div>
        </form>
        <form action="{{ path('report_report_filter', { 'id': report.id, 'visible_columns': visible_columns|json_encode }) }}" method="post"
                {{ form_enctype(form) }} >
        <p><b>Фильтры: </b></p>
        <hr>
        <div class="row">
            <div class="span3">
                <p>Кол-во записей на странице: <b>{{ limit }}</b> </p>
                <select name="limit_per_page">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
        {% for column_name, type in visible_columns if visible_columns %}
            <div class="span3">
            <p>{{ column_name }}: </p>
            <input class="input-medium" type="text" name="{{ column_name }}"
                {% if column_name in filters|keys %}
                value="{{ filters[column_name] }}"
                {% endif %}
            >
            </div>
        {% endfor %}
        </div>
        <br>
        <p>
            <button type="submit" class="btn btn-success" name="apply_filters">Применить фильтр</button>
            <button type="submit" class="btn btn-danger" value="Delete" name="filter_delete">Сбросить</button>
        </p>
    </form>
    </div>
    </div>

    <table class="table table-bordered">
        <tr>
            {% for column_name, type in visible_columns if visible_columns %}
                <th>{{ columns_names[loop.index0] }} ({{ column_name }})|({{ type.DATA_TYPE }})</th>
            {% endfor %}
        </tr>
        {% for element in paginate if paginate %}
            <tr>
                {% for article in element %}
                    <td>{{ article }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div id="navigation">
        {% if paginate %}
            {{ knp_pagination_render(paginate) }}
        {% endif %}
    </div>
</div>

{% endblock %}
