{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="{{ path('report_admin_homepage') }}">Панель управления</a></li>
                <li class="active"><a href="#">Отчеты</a></li>
                <li><a href="{{ path('report_router_homepage') }}">Логи</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="logout">Выйти</a></li>
            </ul>
        </div>
    </div>
    <h2> Здравствуйте, {{ user['username'] }}! </h2>
    <a href="../profile">Профиль</a>
    |
    <a href="../logout">Выйти</a>
    {% if user['admin'] %}
        <p>У вас привилегии администратора</p>
    {% endif %}
    <h3>Cписок отчетов: </h3>
    <p>
    <a href="{{ path('report_report_new') }}" class="btn btn-primary">Добавить отчет</a>
    <a href="{{ path('report_report_print') }}" class="btn btn-info">История печати</a>
    </p>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Представление</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for report in reports %}
        <tr>
            <td>{{ report.title }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.author }}</td>
            <td>{{ report.view }}</td>
            <td><a href="{{ path ('report_report_show', {'id': report.id}) }}" class="btn btn-info">Просмотр</a></td>
            <td><a href="{{ path ('report_report_edit', {'id': report.id}) }}" class="btn btn-primary">Редактировать</a></td>
            <td><a href="{{ path ('report_report_destroy', {'id': report.id}) }}" class="btn btn-danger">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
