{% use 'form_table_layout.html.twig' %}
{% form_theme form _self %}

{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Добавление отчета</h1>
    <form action="{{ path('report_report_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">Создать отчет</button>
        </p>
        <a href="{{ path('report_report_homepage') }}" class="btn btn-primary">
    	    Назад к списку
	    </a>
    </form>
</div>
{% endblock %}
