{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{ path('report_admin_homepage') }}">Панель управления</a></li>
                    <li class="active"><a href="#">Отчеты</a></li>
                    <li><a href="{{ path('report_router_homepage') }}">Логи</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="logout">Выйти</a></li>
                </ul>
            </div>
        </div>
        <h1>Печать отчета</h1>
        <hr>
        <form action="{{ path('report_report_new_print') }}" method="post">
            <input type="hidden" name="type" value="{{ report_type }}">
            <p>Номер отчета: </p>
            <i>Заполнять только при необходимости!</i>
            <input type="number" name="report_number">
            {% if companies %}
            <p>Компания получатель: </p>
            {{ error }}
            <select name="company">
                {% for company in companies %}
                    <option value="{{ company.company_accepter }}">{{ company.company_accepter }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <p>Период: </p>
            <p>
                <select name="months[]" multiple>
                    <option value="0">Январь</option>
                    <option value="1">Февраль</option>
                    <option value="2">Март</option>
                    <option value="3">Апрель</option>
                    <option value="4">Май</option>
                    <option value="5">Июнь</option>
                    <option value="6">Июль</option>
                    <option value="7">Август</option>
                    <option value="8">Сентябрь</option>
                    <option value="9">Октябрь</option>
                    <option value="10">Ноябрь</option>
                    <option value="11">Декабрь</option>
                </select>
                <select name="year">
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                </select>
            </p>
            <p><button type="submit" class="btn btn-success" name="print">Печать</button>
                <a href="{{ path('report_report_print') }}" class="btn btn-primary">
                    Назад
                </a>
            </p>
        </form>
    </div>
{% endblock %}