{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{ path('report_admin_homepage') }}">Панель управления</a></li>
                    <li class="active"><a href="#">Отчеты</a></li>
                    <li><a href="{{ path('report_router_homepage') }}">Логи</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="logout">Выйти</a></li>
                </ul>
            </div>
        </div>
        <h1>История печатей</h1>
        <p>
            <p>Вид отчета: </p>
            <form action="{{ path('report_report_new_print') }}" method="post">
            <select name="report_type">
                <option value="agent_report">Агент</option>
                <option value="activation_cards">Активированные карты</option>
            </select>
            <button type="submit" class="btn btn-success">Печать отчета</button>
            </form>
            <a href="{{ path('report_report_homepage') }}" class="btn btn-primary">
                Назад
            </a>
        </p>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Номер отчета</th>
                <th>Тип</th>
                <th>Автор</th>
                <th></th>
            </tr>
            {% for print_report in print_reports %}
                <tr>
                    <td>{{ print_report.reportNumber }}</td>
                    <td>{{ print_report.reportType }}</td>
                    <td>{{ print_report.reportAuthor }}</td>
                    <td><a href="{{ path ('report_report_delete_print', {'id': print_report.id}) }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}