{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Представление</th>
            <th>Запрос</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ report.title }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.author }}</td>
            <td>{{ report.view }}</td>
            <td>{{ report.query }}</td>
            <td><a href="{{ path('report_report_homepage') }}" class="btn btn-primary">
                Назад к списку
            </a></td>
        </tr>
    </table>
    <form action="{{ path('report_report_show', { 'id': report.id}) }}" method="post">
        <button type="submit">Генерировать PDF</button>
    </form>
    <table class="table table-bordered">
        <tr>
        {% for column_name in columns_names if visible_columns %}
            <th>{{ column_name }}</th>
        {% endfor %}
        </tr>
        {% for element in paginate if paginate %}
        <tr>
            {% for article in element %}
                <td>{{ article }}</td>
            {% endfor %}
        </tr>
       {% endfor %}
 </table>
    <div id="navigation">
        {% if paginate %}
            {{ knp_pagination_render(paginate) }}
        {% endif %}
    </div>
</div>
{% endblock %}